$light: #ff9c3d ;
$dark:#eb5d13;
$white:#FFF;
$black:#000;
$font-muli:"Muli", sans-serif;
$shadow:rgba(255, 255, 255, 0.1);;
body {
  margin: 0;
  background-color: $light;
  font-family: $font-muli;
  box-sizing: border-box;
}
.flex__center{
  display: flex;
  justify-content: center;
  
}

.header {
  background-color: $dark;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  .header__logo--img {
    width: 60px;
    height: auto;
    margin: 10px;
  }
}
.login {
  background-color: $dark;
  @extend .flex__center;  
  padding: 0px 3px;
  min-height: calc(100vh - 130px);
}
.login__container {
  
  background-color: $shadow;
  border: 2px solid black;
  border-radius: 30px;
  padding: 60px 68px 40px;
  height: 600px;
  width: 300px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.login__container--form {
  @extend .flex__center;  
  flex-direction: column;
}
.login__container--form label {
  font-size: 14px;
}
.login__container--remember-me {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  a {
    font-size: 14;
    text-decoration: none;
    color: black;
  }
}

.login__container--remember-me a:hover {
  text-decoration: underline;
}
.login__conatiner--socialM img {
  width: 30px;
  margin-right: 10px;
}
.login__conatiner--socialM div {
  @extend .flex__center;  
  font-size: 14px;
  margin-top: 10px;
}
.login__container--register {
  font-size: 14px;
}
.login__container--register a {
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.login__container--register a:hover {
  text-decoration: underline;
}
.input {
  background-color: transparent;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 2px solid $black;
  font-family: "Muli", sans-serif;
  margin-bottom: 10px;
  padding: 0px 10px;
  outline: none;
  height: 45px;
}
::placeholder {
  color: $black;
  font-family: $font-muli;
}
.buttom {
  background-color: $shadow;
  border: 0px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font-family: $font-muli;
  height: 45px;
  letter-spacing: 1px;
  margin: 10px 0px;
}

.footer {
  width: 100%;
  height: 50px;
  background: linear-gradient($dark, #8f3100);
  @extend .flex__center; 
  a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    margin: 0px 10px;
    
  }
  a:hover {
    text-decoration: underline;
  }
}


@media only screen and (max-width: 600px){
.login__container{
background-color: transparent;
border: none;
padding: 0px;
}

.header{
  justify-content: center;
}
.footer{
  flex-direction: column;
  height: 80px;
}

}